:root {
    /* color */
    --color-black: #3f454d;
    --color-white: #ffffff;
    --color-blue: #3b88c3;
    --color-yellow: #fbbe28;
    --color-pink: #fd7f84;
    --color-light-grey: #dfdfdf;
  
    /* size */
    --base-space: 8px;
    --size-button: 60px;
    --size-border: 4px;
    --size-thumbnail: 50px;
    --font-size: 18px
  
  
    /* annimation */
    --size-animation-duration: 300ms
  }
  
  body {
    height: 100vh; /* 웹사이트 전체 크기의 100%만큼 body로 채우기 */
    background-color: var(--color-black); /* body의 배경 색상 변경 */
    display: flex; /* display를 flex형식으로 변경 */
    flex-direction: column; /* 중심 축 세로로 변경 */
    justify-content: center; /* 아이콘들 가운데 정렬 */
    align-items: center; /* 아이콘의 텍스트 가운데 정렬 */
  }
  
  .logo {
    cursor: pointer; /* 아이콘에 커서 닿았을 때, 커서 모양 변경 */
    transition: transform var(--size-animation-duration) ease; /* 아이콘에 커서 닿았을 때, 애니메이션 조절 */
  }
  
  .btn:hover,
  .logo:hover {
    transform: scale(1.1); /* 아이콘에 커서 닿았을 때, 아이콘 크기 변경 */
  }
  
  .buttons {
      display: flex;  /* 중앙 모든 버튼 display타입 flex로 변경 */
      align-items: center;  /* 모든 버튼 중앙 정렬 */
  }
  
  .btn {
    background-color: transparent; /* 버튼의 배경 색상을 투명으로 */
    border: none; /* 테두리 제거 */
    outline: none; /* 테두리 제거 */
    cursor: pointer;  /* 아이콘에 커서 닿았을 때, 커서 모양 변경 */
    transition: transform var(--size-animation-duration) ease;  /* 아이콘에 커서 닿았을 때, 애니메이션 조절 */
    margin-right: var(--base-space);  /* 버튼 오른쪽 간격 띄우기 */
  }
  
  .imgBtn {
      width: var(--size-button);  /* 중앙 버튼 가로 사이즈 변경 */
      height: var(--size-button);  /* 중앙 버튼 세로 사이즈 변경 */
  }
  
  .colorBtn {
      font-size: var(--font-size);  /* 버튼 글자크기 변경 */
      padding: calc(var(--base-space) * 2);  /* calc함수를 이용하여 사칙연산 값을 속성값으로 적용 */
      border-radius: var(--size-border);  /* 컬러 버튼의 테두리 동그랗게 만듬 */
  }
  
  .blue {
      background-color: var(--color-blue);  /* Blue버튼 색상 변경 */
  }
  
  .yellow {
      background-color: var(--color-yellow);  /* Yellow버튼 색상 변경 */
  }
  
  .pink {
      background-color: var(--color-pink);  /* Pink버튼 색상 변경 */
  }

  .items {
      width: 60%;  /* 아이템 요소의 가로 크기 변경 */
      height: 60%;   /* 아이템 요소의 세로 크기 변경 */
      list-style: none;  /* 맨 앞의 기호를 없애기 위해 list타입 특성 제거 */
      padding-left: 0;  /* 아이템 요소의 왼쪽 패딩 제거 */
      overflow-y: scroll;   /* 아이템 목록에 y축 방향으로 스크롤 추가 */
  }

  .items::-webkit-scrollbar {
      display: none;   /* 스크롤 기능은 있지만, 스크롤 안보이기 하기 */
}

  .item {
      background-color: var(--color-white);  /* 아이템 요소의 배경 색상 변경 */
      display: flex;  /* 아이템들의 display타입 flex로 변경 */
      align-items: center;   /* 아이템의 글자부분 중앙 정렬 */
      padding: var(--base-space);  /* 아이템 배경 크기 늘리기 */
      margin-bottom: var(--base-space);  /* 아이템 사이의 간격 생성 */
  }

  .item__thumbnail {
      width: var(--size-thumbnail);  /* 아이템 이미지 가로 크기 변경 */
      height: var(--size-thumbnail);  /* 아이템 이미지 세로 크기 변경 */
  }

  .item__description {
      margin-left: var(--base-space);  /* 아이템의 아이콘과 글자 사이의 간격 추가 */
      font-size: var(--font-size);  /* 아이템 글자 크기 변경 */
  }